{% extends "layout.html" %} 
{% block body %}
<div id=selection_form>
    <form action="{{ url_for('comparison')}}">
     <select name='genre'>
            {% for genre in genres %}
            {% if genre == selected_genre %}
                <option selected value="{{ genre }}">{{ genre }}</option> 
            {% else %} 
                <option value="{{ genre }}">{{ genre }}</option> 
            {% endif %}
           {% endfor %}
     </select>
        <button class="btn btn-default" type="submit">Generate</button>
    </form>
</div>
    <div id='chart'>
        <embed id='pygal_div' type="image/svg+xml" src= {{ chart|safe }} />
    </div>

{% endblock %}