table {
	border: 1px solid #ccc;
	border-collapse: collapse;
	margin: 0;
	padding: 0;
	width: 100%;
	table-layout: fixed;
}
table caption {
	font-size: 1.5em;
	margin: .5em 0 .75em;
}
table tr {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: .35em;
}
table th,
table td {
	padding: .625em;
	text-align: center;
}
table th {
	font-size: .85em;
	letter-spacing: .1em;
	text-transform: uppercase;
}
body {
	font: 11px sans-serif;
}
  .axis path,
  .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}
  .circle {
	stroke: #000;
}
  .tooltip {
	position: absolute;
	width: 200px;
	height: 28px;
	pointer-events: none;
}